table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#Title {
    color: whitesmoke;
    background-color:#dddddd;
    text-align: center;
    width: auto;
    text-shadow: 1px 1px 4px black;
    border-radius: 25px;
}

#submitButton {
    margin-bottom: 20px;
}

#buttonDelete {
    position: relative;
    margin-bottom: 20px;
}

#buttonClear {
    position: absolute;
    left: 150px;
    margin-bottom: 20px;
}

#buttonSave {
    position: absolute;
}

#myform2 {
    position: absolute;
    margin-top: 40px;
}

#zatwierdz {
    position: relative;
    /* top: 540px; */
}

#buttonAccept {
    position: absolute;
    top: 120px;
}